                    <section class="clearfix">
                        <figure>
                            <%= image_tag("topicicon.jpg", :size => "100x100", :alt => "image_topic")%>
                            <figcaption></figcaption>
                        </figure>
                        <h3>Pick Up</h3>
                        <p>

                        </p>
                    </section>
                    <hr>
                </section>
                <section id="news">
                    <h3>Information</h3>
                    <ul>
                        <li>
                            <span>2019/04/22</span>
                            <a href="course.html">検索機能を追加しました</a>
                        </li>
                        <li>
                            <span>2019/04/11</span>
                            <a href="course.html">自己紹介コメントの編集機能を追加しました</a>
                        </li>
                        <li>
                            <span>2019/03/15</span>
                            <a href="gallery.html">写真のアップロード機能を追加しました</a>
                        </li>
                        <li>
                            <span>2019/02/24</span>
                            <a href="course.html">カテゴリに「カメラ」を追加しました</a>
                        </li>
                    </ul>
                </section>
