  <section id="news">

    <ul>
      <li>
        <span>
        <p>2019/04/24</p>
        <p>ブックマークへのコメント機能を追加しました</p>
        </span>
      </li>
      <li>
        <span>
        <p>2019/04/22</p>
        <p>検索機能を追加しました</p>
        </span>
      </li>
      <li>
        <span>
        <p>2019/04/11</p>
        <p>自己紹介コメントの編集機能を追加しました</p>
        </span>
      </li>
      <li>
        <span>
        <p>2019/03/15</p>
        <p>プロフィール写真のアップロード機能を追加しました</p>
        </span>
      </li>
    </ul>
  </section>
