@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 14px;
}

a {
    color: #333;
}

/*
a:visited { color: #333;}
*/

a:hover {
    color: #333;
    font-weight: 700;
    text-decoration: none;
}

/* チャプター：マージン */
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

p {
    margin-top: 0;
    line-height: 1.6;
}

img {
    vertical-align: bottom;
}

/* チャプター：見出しの装飾 */
#main h2 {
    background: #fff;
    font-size: 20px;
    padding: 8px 22px;
    border-radius: 2px;
    border: 1px solid #956840;
    /*background-image: url("main_visual3.jpg")*/
    background: linear-gradient(to right, white, #eafeff, skyblue);
}

#main h3 {
    font-size: 16px;
    border-left: solid 3px #fa9786;
    padding: 4px 9px 4px 14px;
}

header {
    width: 984px;
    margin: 0 auto;
}

header h1 {
    margin: 5px 0 10px;
}

/* header */
#global_navi {min-height: 35px !important}

#global_navi {
    height: 35px;
    padding: 0px 0px;
}

.navbar-right {
    font-size: 12px;
}

#global_navi2 {
    margin-bottom: 16px;
}

#global_navi2 ul {
    font-size: 0;  /* ここを追加（半角スペース削除） */
    list-style: none;
    margin: 0;
    padding: 0;
}

#global_navi2 ul li {
    font-size: 12px;  /* ここを追加（フォントサイズ復活） */
    display: inline-block;
    width: 87.4px;
    height: 30px;
    margin: 0px;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    border-bottom: 2px solid;
    border-bottom-color: #008fde;
}

#global_navi2 ul li a {
    display: block;
    padding: 8px 10px;
    /*background-color: #56a764;*/
    color: gray;
    text-decoration: none;
    transition: background-color .2s linear;
    height: 30px;
}

#global_navi2 ul li.current a {
    background-color: #008fde;
    border-bottom-color: white;
    color: white;
}

#global_navi2 ul li a:hover {
    background-color: #ae8dbc;
    color: white;
}

#main_visual {
    width: 984px;
    height: 440px;
    margin: 0 auto 25px;
}

#wrapper {
    width: 984px;
    margin: 0 auto;
}

#main {
    width: 730px;
    float: left;
}

#sidebar {
    width: 220px;
    float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

#point figure {
    float: right;
    margin-left: 16px;
    margin-right: 0;
    padding-top: 5px;
    padding-bottom: 10px;
}

#point figcaption {
    font-size: 12px;
    color: #9C9689;
    text-align: center;
}

#news ul {
    list-style: none;
    padding: 0;
}

#news li {
    margin-bottom: 10px;
}

#news li a {
    margin-left: 15px;
}

#side_banner ul li {
    display: inline-block;
    padding: 5px;
    width: 150px;  
}

#side_banner ul {
    list-style: none;
    padding: 0;
}

#side_banner {
    margin-bottom: 30px;
    border: 1px solid #956840;
    text-align: center;
}

#side_banner h2 {
    background-color: #956840;
    color: #fff;
    padding: 7px;
    font-size: 14px;
    text-align: center;
}

footer #footer_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer {
    background-color: #956840;
    text-align: center;
}

footer #footer_navi {
    background-color: #f0f0f0;
    padding: 10px 0;
}

footer #footer_navi li {
    display: inline;
    border-left: solid 1px #333;
    margin-left: 8px;
    padding-left: 8px;
    font-size: smaller;
}

footer #footer_navi li:last-child {
    border-right: solid 1px #333;
    padding: 0 8px;
}

footer small {
    display: inline-block;
    padding: 8px 0;
    color: #fff;
}

.textOverflow{
    overflow: hidden;
    border: 0px solid #ccc;
    padding: 5px;
    width: 90%;
    background: #eee;
    line-height: 1.0;
    white-space: nowrap;
}
.textOverflow{
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}

ul { list-style: none;}

#global_navi .current2 a{ color: white;}

#global_navi .drop a{ color: black;}

.my-gray {color: gray}

/* universal */
body {padding-top: 0px;}

.chuo {
    padding-top: 5px !important;
}

.navbar-nav > li > a {
    padding-top: 4px !important;
}

.nav > li> a {
    position: relative;
    display: block;
     padding: 0px 10px; 
}

.logo2 a {
  background: url("logo2.png") no-repeat left center;
}
.toko {margin-right: 1px;}
.botan {margin-right: 1px;}

li {list-style: none;}

.follow-btn {
    width: 80px;
    height: 10px;    
    position: relative; top: 10px; right: 5px; 
    margin: 0px;
    padding: 0px;
}
hr {
    height: 1px;
    border: none;
    border-top: 1px #C0C0C0 solid;
    margin-top: -1px;
    padding-top: -1px;    
    margin-bottom: 20px;
}

.mark-post {margin-bottom: 5px;}

.right {
    margin-top: 1px;
    padding: 0px;
    text-align: right;
    float: right;
    padding-right: 1px;
    margin-right: 1px;
}

.pro-img {
  margin-top: 12px;
  margin-right: 5px;
  display: inline-block;
  position: relative; 
  padding-left: 5px;
  padding-right: 5px;
  /*max-width: 88.5%;*/
  /*border-radius: 5px;
  /*background: linear-gradient(to right, #fef, #fef);
  */border: 1px solid #956840; /* 枠線 */   
}
.pro-img2 {
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
  position: relative; 
  padding-left: 5px;
  padding-right: 5px;
  /*max-width: 88.5%;*/
  /*border-radius: 5px;
  /*background: linear-gradient(to right, #fef, #fef);
  */border: 1px solid #956840; /* 枠線 */   
}

.pro-link a {
  color: blue;
  /*text-decoration: underline;*/
      font-weight: 350;
  margin: 0px;
  padding: 0px;
}
.pro-link a:hover {
    font-weight: 700;

}
.pro-come {
  color: gray;
  font-size: 13px;
  margin: 0px;
  display: inline-block;
  position: relative; 
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 5px;
  /*background: linear-gradient(to right, #fef, #fef);
  border: 1px solid #956840; /* 枠線 */   
}

/*以下、②左側のコメント*/
.says p {
  margin: 0;
  padding: 0;
}

.says {
  display: inline-block;
  position: relative; 
  margin-top: -5px;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 88.5%;

  border-radius: 5px;
  background: linear-gradient(to right, #eeefea, #fff);
  /*border: 1px solid #956840; /* 枠線 */
}


.navbar-header a {
  font-size: 19px;
    margin-left: 0px;
    text-align: middle;
    vertical-align: middle;
    list-style: none;
}

.logo {
    margin-top: -12px;
}

#footer {
  width: 984px;
    margin: 0 auto;
}

#main2 {
    width: 984px;
    float: left;
}
/* チャプター：見出しの装飾 */
#main2 h2 {
    background: #fff;
    font-size: 2px;
/*    padding: 1px 2px;*/
    border-radius: 2px;
    border: 1px solid #d8a375;
}

#main2 h3 {
    font-size: 16px;
    border-left: solid 3px #fa9786;
    padding: 4px 9px 4px 14px;
}

.textOverflow {
/*    overflow: hidden;
    /* border: 1px solid #000000; */
/*    padding: 0px;
*/    width: 62%;
/*    background: #f5f5f5;
    line-height: 0;
    white-space: nowrap;*/
}