  <!-- ********** SECOND ********** -->
  <section id="secondsec"></section>
  <div id="second">
    <div class="row nomargin">
      <div class="col-md-6 col-md-offset-1">
        <h3>Comments</h3>
        <div class="hr-small"></div>

        <%= render 'toppages/comments' %>               

      </div>

      <div class="col-md-5">
        <%= image_tag("iPhone-White.png", class:'img-responsive aligncenter', :size => "200", :alt => "") %>
      </div>

      </div>
    </div>
    <!--/row-->
  </div>


  <!-- ********** THIRD ********** -->
  <section id="thirdsec"></section>
  <div id="third">
    <div class="row centered nomargin">
      <h3>Notice</h3>
      <div class="hr-small aligncenter"></div>

        <%= render 'toppages/notice' %>               

      </div>
      <!-- /ms-wrapper -->
    </div>
  </div>
