<footer id="footer">

<div id="copyrights">

    <div id="footer_navi" class="foot-navi">
        <span>
          <%= link_to categorys_path do %>
                <font color="#666">&nbsp;|&nbsp;</font> 
                総合
            <% end %>
        </span>
        
        <span>
          <% @co.first(10).each do |c| %>
                <font color="#666">&nbsp;|&nbsp;</font> 
                <%= link_to "#{c[0]} (#{c[1]})", "/categorys/#{c[0]}" %>
          <% end %>
        </span>
        
        <span><font color="#666">&nbsp;|&nbsp;</font></span> 
    </div>

  <div class="container">
    <p>
      Copyright &copy; 2019 <strong>Bookshare</strong>, All Rights Reserved.
    </p>
    <div class="credits">

      Created with DoLanding template by <a href="https://templatemag.com/">TemplateMag</a>
    </div>
  </div>
</div>
<!-- / copyrights -->

</footer>

